# Ignore node_modules and npm debug log
node_modules
npm-debug.log

# Ignore build output
.next
out

.git
# Ignore local environment files
.env
.env.local
.env.*.local

# Ignore logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Docker-related files
Dockerfile
.Dockerignore
docker-compose.yml